<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
</div>

<%= vue_island("counter", init_props: { count: 10 }) %>
<%= vue_island("my-reaction") %>
<%= vue_island("clock-app") %>

<%= vue_island("dummy-app", mount: true) do %>
  <h1 v-cloak v-text="title"></h1>
<% end %>
