<!DOCTYPE html>
<html>
  <head>
    <title>IslandArchitecture</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'VueWebComponent' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body data-barba="wrapper">
    <!-- ヘッダー -->
    <header>
        <button id="menuToggle">メニュー</button>
        <!-- アイコンのサンプル. Font Awesomeを利用するなどして適宜変更してください -->
        <div class="icons">
          <i class="icon-sample1">通知</i>
          <i class="icon-sample2">なんか</i>
        </div>
    </header>
      <!-- サイドメニュー -->
    <aside id="sideMenu">
      <!-- ユーザプロフィール情報 -->
      <div class="profile">
        <%# <img src="path_to_profile_image" alt="Profile Image"> %>
        <h3>User Name</h3>
      </div>

      <!-- メニューリンク -->
      <nav>
        <ul>
          <li><a href="/contents">コンテンツ</a></li>
          <li><a href="/posts">ブログ</a></li>
          <li><a href="#">プロフィール</a></li>
        </ul>
      </nav>
    </aside>

    <main data-barba="container" data-barba-namespace="top">
      <%= yield %>
    </main>
  </body>
</html>
